* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: white;
    padding: 0.5rem;
    position: fixed;
    height: 60px;
    z-index: 1;
    width: 100%;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoInicio {
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
    display: inline;
}

.nav {
    width: 100%;
}

.nav__list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    gap: 2rem;
    margin: 0px;
    padding: 0px;
}

.nav__link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

.nav__link:hover {
    color: rgb(133, 150, 160);
}

.header__icon {
    display: none;
    color: white;
}

.main {
    margin-top: 60px;
}
.seccion1 {
    max-height: 100%;
    position: relative;
}
.seccion1__titulo{
    padding: 25% 4rem 25% 4rem;
    text-align: center;
    font-size: 4rem;
    color: white;
    text-shadow: 0px 0px 5px black;
    position: relative;
    margin: 0;
}

#animacion--entrada {
    animation-duration: 2s;
    animation-name: zoomin;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.3,.71,.17,1.04);
   
}

@keyframes zoomin {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
.seccion1__parrafo {
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 0px 0px 5px black;
    position: relative;
}

.seccion1__fondo {
    background-image: url(../images/main-16:9-playnotienelimites.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100%;
}

.seccion1__fondo::before {
    content: "";
    max-width: 100%;
    min-height: 100%;
    background-position: bottom;
    position: absolute;
    background-image: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,1) 150% );
}

.seccionNormal {
    padding: 60px;
    margin: 0;
    display: block;
    position: relative;
}

.seccionSmall {
    padding: 15% 50px 50px 50px;
    margin: 0;
    display: block;
    position: relative;
    min-height: 40%;
}

.seccion__textoNormal {
    /* background-color: red; */
    margin-top: 30%;
    max-width: 100%;
    padding: 20px;
}

.seccion__textoSmall {
    /* background-color: red; */
    margin-top: 10%;
    margin-right: 25%;
    max-width: 100%;
    padding: 20px;
    display: inline-block;
}

.seccion__titulo--blanco {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 2.5rem;
    color: white;
    text-align: left;
    position: relative;
}

.seccion__parrafo--blanco {
    font-size: 1.25rem;
    font-weight: 200;
    color: white;
    position: relative;
    margin-bottom: 20px;
}

.seccion__titulo--negro {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 2.5rem;
    color: black;
    text-align: left;
    position: relative;
}

.seccion__titulo--negroMargin {
    margin: 0px 0px 20px 20px;
    font-weight: 300;
    font-size: 2.5rem;
    color: black;
    text-align: left;
    position: relative;
}

.seccion__parrafo--negro {
    font-size: 1.25rem;
    font-weight: 200;
    color: black;
    position: relative;
    margin-bottom: 20px;
}

.seccion__parrafo--negroMargin {
    margin: 0px 0px 20px 20px;
    font-size: 1.25rem;
    font-weight: 200;
    color: black;
    position: relative;
    margin-bottom: 20px;
}

.descubremas__box--blanco {
    padding: 12px 15px 12px 15px;
    margin: 30px 0px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 10px;
    background-color: white;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    position: relative;
    max-width: fit-content;
}

.descubremas__text--negro {
    text-decoration: none;
    color: black;
}

.descubremas__box--negro {
    padding: 12px 15px 12px 15px;
    margin: 30px 0px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 10px;
    background-color: black;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    position: relative;
    max-width: fit-content;
}

.descubremas__box--naranja {
    padding: 12px 15px 12px 15px;
    margin: 20px 0px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 10px;
    background-color: rgb(243, 174, 0);
    border-radius: 40px;
    text-decoration: none;
    color: black;
    position: relative;
    max-width: fit-content;
    
}

.descubremas__text--blanco {
    text-decoration: none;
    color: white;
    margin: 0;
}

.seccion2__image {
    background-image: url(../images/collagejuegosplaystation.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.seccion2__image::before {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-image: linear-gradient(to left bottom, rgba(0,0,0,0), rgba(0,0,0,1) 95%);
}

.seccion3__image {
    background-image: url(../images/ecosistemaplaystation.jpeg);
    background-size: 60%;
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.seccion4__image {
    background-image: url(../images/fondopsplus.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30vh;
    width: 100%;
}

.seccion5__image {
    background-color: rgb(0, 32, 90) ;
    min-height: 30vh;

}

.seccion5__tools {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
}

.footer {
    background-color: rgb(0, 45, 130);
    padding: 5%;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.redes {
    margin-bottom: 10%;
}

.redes__texto {
    font-weight: 500;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}
.redes__list {
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 10% 0px 10%;
}
.redes__img {
    transition: all 0.3s ease;
}
.redes__img:hover {
    transform: scale(1.25);
}

.volverArriba {
    margin-bottom: 3%;
}

.volverArriba__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

.navFooter {
    margin-bottom: 3%;
}

.navFooter__list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    gap: 2rem;
}

.navFooter__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.legal__text {
    color: white;
    margin-top: 20px;
}

/* Clases añadidas para hacer la pagina de Juegos */

.seccion1Juegos__fondo {
    background-image: url(../images/juegos/fondoseccionjuegos.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.forbidden {
    /* background-color: red; */
}

.forbidden__img {
    height: 20%;
    width: 100%;
    object-fit: cover;
    margin-bottom: -96;
}

.forbidden__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;

    column-gap: 20px;
    align-items: center;
}

.forbidden__iframe {
    border-radius: 50px;
    justify-content: center;
}

.iframeJuegos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform:translateY(-120px);
    box-shadow: black;
}

.doble__grid {
    margin: 50px 50px 100px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.doble__box {
    display: flex;
    flex-direction: column ;
}

.doble__img {
    margin-bottom: 40px;
    border-radius: 40px;
}

/* Grid de Juegos */

.exclusivos {
    padding: 50px 50px 0px 50px;
}

.exclusivosGrid {
    padding: 10% 15% 5% 15%;
    max-width: 100%;
    min-height: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    column-gap: 20px;
    row-gap: 40px;

    background-color: rgb(0, 45, 130);
    
}




.exclusivosGrid__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.exclusivosGrid__img {
    display: inline-block;
    max-width: 90%;
    max-height: 90%;
    border-radius: 40px;
}

.exclusivosGrid__textBox {

}

.exclusivosGrid__text {
    font-size: 1rem;
    text-align: center;
    color: white;
}

/* Fin de Grids de Juegos */
.lanza {
    min-height: 50vh;
    padding: 10px 10px 100px 10px;
}
.lanzaGrid {
    padding: 10px 50px 10px 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    min-height: 50%;

}

.lanza__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    object-position: center;
}

.lanza__box {
    display: flex;
    flex-direction: column;
    top: 0;
}

/* Clases extras usadas en pagina de Hardware */

.seccion1Hardware__fondo {
    background-image: url(../images/hardware/fondoseccion1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.seccion2Hardware {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
   background-color: rgb(0, 79, 237);
}

.seccion2Hardware__parte {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    max-width: 30%;
}

.seccion2Hardware__titulo {
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    font-weight: 300;
}

.seccion2Hardware__texto {
    color: white;
    font-weight: 300;
    text-align: center;
}

/* GRID Ecosistema Play */
.ecosistema {
    min-height: 500px;
    padding: 50px;
}

.ecosistema__objbox {
    display: flex;
    flex-direction: column;
}

.ecosistema__img {
    width: 100%;
    height: 100%;
}

.ecosistema__heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.ecosistema__titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.app {
    padding: 50px;
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.app__linkbox {
    width: 20%;
    height: 20%;
}

.app__img {
    max-width: 100%;

}

/* Clases añadidas en la pagina de PS Plus */

.seccion1PsPlus__fondo {
    background-image: url(../images/psplus/psplusprincipal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seccion1PsPlus__titulo{
    padding: 25% 4rem 25% 4rem;
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
}

.subscribe {
    padding: 60px 10% 60px 10%;
    min-height: 100vh;
    max-width: 100%;
}

.subscribe--black {
    background-color: black;
    padding: 60px 10% 60px 10%;
    min-height: 100vh;
    max-width: 100%;
}

.subscribe__heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

.subscribe__heading--lessMargin {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}


.subscribe__heading--white {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    color: white;
}

.subscribe__heading--white {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}

.subscribe__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.subscribe__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.subscribe__price {
    margin-top: 20px;
}

.subscribe__price--white {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.beneficios {
    background-color: rgb(223, 223, 223);
    min-height: 100vh;
    width: 100%;
    padding: 50px 10% 50px 10%;
}

.beneficios__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "ben1 ben2"
        "ben3 ben4"
        "ben5 ben6"
    ;
    row-gap: 10px;
    column-gap: 10px;
    margin: 0% 20% 0% 20%;
}

.ben1 {
    grid-area: ben1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ben2, .ben2 img {
    grid-area: ben2;

    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-width: 100%;
}

.ben3, .ben3 img {
    grid-area: ben3;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-width: 100%;
}

.ben4, .ben4 p {
    grid-area: ben4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.ben5 {
    grid-area: ben5;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.ben6, .ben6 img {
    grid-area: ben6;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.beneficios__text {
    font-size: 25px;
}

/* Clases añadidas para la pagina de Asistencia */

.contacto__descripcion {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.contacto {
    padding: 30px 0px 100px 0px
}

.form {
    padding: 40px 100px 40px 100px;
}

.formtext {
    padding-bottom: 30px;
}

.textarea {
    display: block;
}

.form__space {
    margin-bottom: 15px;
}

@media screen and (max-width: 425px) {
    .redes__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .navFooter__list {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        gap: 2rem;

        margin-top: 50px;
        margin-bottom: 50px;
    }

    .nav__list {
        display: none;

    }

    .header__icon {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 15px;
        color: black;
    }

    .seccion1PsPlus__titulo {
        padding: 100px 40px 100px 40px;
        font-size: 3rem;
    }

    .subscribe__heading {
        font-size: 35px;
    }

    .subscribe__grid {
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
    }

    .beneficios__grid {
        margin-left: 0;
        margin-right: 0;
    }

    .beneficios__text {
        font-size: 20px;
    }

    .seccion3__image {
        background-size: 90%;
    }


}

@media screen and (max-width: 452px) {
    .descubremas__text--negro {
        font-size: 12px;
    }

    .descubremas__text--blanco {
        font-size: 12px;
    }

    .descubremas__
}

@media screen and (max-width: 375px) {
    .seccion1__titulo {
        padding: 25% 50px 25% 50px;
        font-size: 3.5rem;
    }

    .seccion__textoNormal {
        padding: 20px 20px 20px 0px;
    }

    .seccion__textoSmall {
        padding: 20px 20px 20px 0px;
    }

    

}