.contacto {
    padding: 30px 0px 100px 0px;

    &__descripcion {
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }
}

.form {
    padding: 40px 100px 40px 100px;

    &__space {
        margin-bottom: 15px;
    }
}

.formtext {
    padding-bottom: 30px;
}

.textarea {
    display: block;
}