.seccion1Hardware__fondo {
    background-image: url(../images/hardware/fondoseccion1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seccion2Hardware {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 79, 237);

   &__parte {
       display: flex;
       flex-direction: column;
       justify-content: right;
       align-items: center;
       max-width: 30%;
   }

   &__titulo {
       margin-top: 50px;
       margin-bottom: 30px;
       color: white;
       font-weight: 300;
   }

   &__texto {
    color: white;
    font-weight: 300;
    text-align: center;
   }
}

.ecosistema {
    min-height: 500px;
    padding: 50px;

    &__objbox {
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__heading {
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
    }

    &__titulo {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
    }
}

.app {
    padding: 50px;
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);

    &__linkbox {
        width: 20%;
        height: 20%;
    }

    &__img {
        max-width: 100%;
    }
}