.seccion1 {
    max-height: 100%;
    position: relative;

    &__titulo {
        padding: 25% 4rem 25% 4rem;
        text-align: center;
        font-size: 4rem;
        color: white;
        text-shadow: 0px 0px 5px black;
        position: relative;
        margin: 0;
    }
    
    &__parrafo {
        text-align: center;
        color: white;
        font-size: 2rem;
        text-shadow: 0px 0px 5px black;
        position: relative;
    }

    &__fondo {
        background-image: url(../images/main-16:9-playnotienelimites.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: 100%;
    }
    
    &__fondo::before {
        content: "";
        max-width: 100%;
        min-height: 100%;
        background-position: bottom;
        position: absolute;
        background-image: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,1) 150% );
    }
}

#animacion--entrada {
    animation-duration: 2s;
    animation-name: zoomin;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.3,.71,.17,1.04);
   
}

@keyframes zoomin {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.seccion {
    &__normal {
        padding: 60px;
        margin: 0;
        display: block;
        position: relative;
    }

    &__small {
        padding: 15% 50px 50px 50px;
        margin: 0;
        display: block;
        position: relative;
        min-height: 40%;
    }

    &__textoNormal {
        margin-top: 30%;
        max-width: 100%;
        padding: 20px;
    }

    &__textoSmall {
        margin-top: 10%;
        margin-right: 25%;
        max-width: 100%;
        padding: 20px;
        display: inline-block;
    }

    &__titulo--negro {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 2.5rem;
        color: black;
        text-align: left;
        position: relative;

        &Margin {
            margin: 0px 0px 20px 20px;
            font-weight: 300;
            font-size: 2.5rem;
            color: black;
            text-align: left;
            position: relative;
        }
    }
    
    &__titulo--blanco {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 2.5rem;
        color: white;
        text-align: left;
        position: relative;

        &Margin {
            margin: 0px 0px 20px 20px;
            font-weight: 300;
            font-size: 2.5rem;
            color: white;
            text-align: left;
            position: relative;
        }
    }

    &__parrafo--blanco {
        font-size: 1.25rem;
        font-weight: 200;
        color: white;
        position: relative;
        margin-bottom: 20px;

        &Margin {
            margin: 0px 0px 20px 20px;
            font-size: 1.25rem;
            font-weight: 200;
            color: white;
            position: relative;
            margin-bottom: 20px;
        }
    }

    
    &__parrafo--negro {
        font-size: 1.25rem;
        font-weight: 200;
        color: black;
        position: relative;
        margin-bottom: 20px;
    
        &Margin {
            margin: 0px 0px 20px 20px;
            font-size: 1.25rem;
            font-weight: 200;
            color: black;
            position: relative;
            margin-bottom: 20px;
        }
    }
}


.descubremas__box {
    padding: 12px 15px 12px 15px;
    margin: 30px 0px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    line-height: 10px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    position: relative;
    max-width: fit-content;
}

.descubremas__box--blanco {
    @extend .descubremas__box;
    background-color: white;
}

.descubremas__text--negro {
    text-decoration: none;
    color: black;
}

.descubremas__box--negro {
    @extend .descubremas__box;
    background-color: black;
}

.descubremas__box--naranja {
    @extend .descubremas__box;
    background-color: map-get($map: $colors, $key: psplus);
}

.descubremas__text--blanco {
    text-decoration: none;
    color: white;
    margin: 0;
}

.seccion2__image {
    @include bg("../../images/collagejuegosplaystation.png", cover, center, no-repeat, 100vh, 100%)
}

.seccion2__image::before {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-image: linear-gradient(to left bottom, rgba(0,0,0,0), rgba(0,0,0,1) 95%);
}

.seccion3__image {
    @include bg("../../images/ecosistemaplaystation.jpeg", 60%, bottom right, no-repeat, 100vh, 100%)
}

.seccion4__image {
    @include bg("../../images/fondopsplus.jpg", cover, bottom, no-repeat, 30vh, 100%)
}

.seccion5__image {
    background-color: rgb(0, 32, 90) ;
    min-height: 30vh;
}

.seccion5__tools {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
}

@media screen and (max-width: 425px) {
    .seccion1__titulo {
        padding: 25% 50px 25% 50px;
        font-size: 3rem;
    }

    .seccion3__image {
        background-size: 90%;
    }
}

@media screen and (max-width: 452px) {
    .descubremas__text--negro {
        font-size: 12px;
    }

    .descubremas__text--blanco {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .seccion1__titulo {
        padding: 25% 50px 25% 50px;
        font-size: 3.5rem;
    }

    .seccion__textoNormal {
        padding: 20px 20px 20px 0px;
    }

    .seccion__textoSmall {
        padding: 20px 20px 20px 0px;
    }
}