.seccion1Juegos__fondo {
    background-image: url(../images/juegos/fondoseccionjuegos.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100vh;
}

.juegos__heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    margin-top: 50px;

    &White {
        text-align: center;
        font-size: 40px;
        margin-bottom: 100px;
        margin-top: 90px;
        color: white;
    }
}

.seccion1Juegos__titulo {
    font-weight: 300;
    font-size: 2.5rem;
    text-align: left;
    position: relative;
}

.seccion1Juegos__parrafo {
    font-size: 1.25rem;
    font-weight: 200;
    position: relative;
    margin-bottom: 20px;
}

.seccionJuegos {
    &__titulo {
        &Negro {
            @extend .seccion1Juegos__titulo;
            margin-bottom: 20px;
            color: black;

            &Margin {
                @extend .seccion1Juegos__titulo;
                margin: 0px 0px 20px 20px;
                color: black;
            }
        }

        &Blanco {
            @extend .seccion1Juegos__titulo;
            margin-bottom: 20px;
            color: white;
            
            &Margin {
                @extend .seccion1Juegos__titulo;
                margin: 0px 0px 20px 20px;
                color: white;
            }
        }
    }
    
    &__parrafo {
        &Negro {
            @extend .seccion1Juegos__parrafo;
            color: black;

            &Margin {
                @extend .seccion1Juegos__parrafo;
                margin: 0px 0px 20px 20px;
                color: black;
            }
        }

        &Blanco {
            @extend .seccion1Juegos__parrafo;
            color: white;
        
            &Margin {
                @extend .seccion1Juegos__parrafo;
                margin: 0px 0px 20px 20px;
                color: white;
            }
        }
    }
}

.forbidden {
    &__textbox {
        grid-area: i1;
    }

    &__img {
        height: 20%;
        width: 100%;
        object-fit: cover;
        margin-bottom: -96;
    }

    &__grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "i1 i2";
        justify-content: space-between;

        column-gap: 20px;
        align-items: center;
    }

    &__iframe {
        border-radius: 50px;
        justify-content: center;
        width: 425px;
        height: 239px;
    }
}

.iframeJuegos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform:translateY(-120px);
    box-shadow: black;
    grid-area: i2;
}

.godofwar {
    width: 100%;
    min-height: 100vh;
}

.doble {
    padding: 50px 50px 100px 50px;
    width: 100%;
    min-height: 50vh;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__img {
        margin-bottom: 40px;
        border-radius: 40px;
    }
}

.exclusivos {
    padding: 50px 50px 0px 50px;
    
    &Grid {
        padding: 10% 15% 5% 15%;
        max-width: 100%;
        min-height: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
        column-gap: 20px;
        row-gap: 40px;
        
        background-color: rgb(0, 45, 130);
        
        &__box {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        
        &__img {
            display: inline-block;
            max-width: 90%;
            max-height: 90%;
            border-radius: 40px;
        }
        
        &__text {
            font-size: 1rem;
            text-align: center;
            color: white;
        }
    }
}

.lanza {
    min-height: 50vh;
    padding: 10px 50px 100px 50px;
    background-color: black;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
        object-position: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        top: 0;
    }

    &__grid {
        padding: 10px 50px 10px 50px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        min-height: 50%;
    }

    &__cap {
        color: white;
        font-size: 0.80rem;
    }
}

@media screen and (max-width: 768px) {
    .seccionJuegos {
        &__titulo {
            &NegroMargin {
                font-size: 2rem;
                text-align: center;
            }
    
            &BlancoMargin {
                font-size: 2rem;
                text-align: center;
            }
        }
    
        &__parrafo {
            &NegroMargin {
                text-align:center;
                padding: 0px 20px 0px 20px;
                margin-left: 0;
            }
    
            &BlancoMargin {
                text-align:center;
                padding: 0px 20px 0px 20px;
                margin-left: 0;
            }
        }
    }

    .forbidden {
        &__textbox {
            transform: translateY(-120px);
        }
    
        &__img {
            min-height: 50vh;
        }
    
        &__grid {
            margin-top: 0px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "i2"
            "i1";
        }
    
        &__iframe {
            transform: translateY(0px);
            width: 318.75px;
            height: 179.3px;
        }
    }
    
    .doble {
        padding: 0px;

        &__grid {
            margin: 50px 0px 0px 0px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    
        &__img {
            margin-bottom: 0px;
            border-radius: 0px;
        }

        &__textbox {
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }
    
    .exclusivosGrid {
        padding: 30% 100px 30% 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr, 5);
    
        column-gap: 40px;
    
        &__img {
            max-width: 100%;
            max-height: 100%;
        }
    
        &__text {
            margin: 30px 10px 0px 10px;
        }
    }

    .lanza {
        padding: 0px 50px 100px 50px;
    
        &__img {
            border-radius: 0px;
        }

        &__grid {
            padding: 10px 0px 10px 0px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(1fr, 4);
        }

        &__cap {
            text-align: center;
            font-size: 1rem;
        }
    }

    .juegos__headingWhite {
        padding: 100px 20px 100px 20px;
        font-size: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 425px) {
    .juegos__heading {
        padding: 40px 20px 0px 20px;
        margin-top: 60px;
    
        &White {
            padding: 100px 20px 100px 20px;
            font-size: 35px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    
    .seccionJuegos {
        &__titulo {
            &NegroMargin {
                font-size: 2rem;
                text-align: center;
                margin-left: 0;
            }
            
            &BlancoMargin {
                font-size: 2rem;
                text-align: center;
            }
        }
        
        &__parrafo {
            &NegroMargin {
                text-align:center;
                padding: 0px 20px 0px 20px;
                margin-left: 0;
            }
            &BlancoMargin {
                text-align:center;
                padding: 0px 20px 0px 20px;
                margin-left: 0;
            }
        }
    }
    
    .forbidden {
        &__textbox {
            transform: translateY(-50px);
        }
        
        &__img {
            min-height: 50vh;
        }
        
        &__iframe {
            transform: translateY(-100px);
            width: 318.75px;
            height: 179.3px;
        }
    }
    
    .iframeJuegos {
        transform:translateY(0px);
    }
    
    .doble {
        padding: 0px;
        
        &__grid {
            margin: 50px 0px 0px 0px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        
        &__img {
            margin-bottom: 0px;
            border-radius: 0px;
        }
    }
    
    .exclusivos {
        padding: 0;

        &Grid {
            padding: 30% 0% 30% 0%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(1fr, 9);
            
            &__img {
                display: inline-block;
                max-width: 100%;
                max-height: 100%;
                border-radius: 0px;
            }
            
            &__text {
                font-size: 1.5rem;
                margin: 30px 10px 0px 10px; 
            }
        }
    }
    
    .lanza {
        padding: 0px 0px 100px 0px;
    
        &__box {
            display: flex;
            flex-direction: column;
            top: 0;
        }

        &__grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(1fr, 12);
        }

        &__cap {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .seccion1__titulo {
        font-size: 2.70rem;
    }
}

@media screen and (max-width: 320px) {
    .forbidden__iframe {
        width: 284.44px;
        height: 160px;
    }

    .forbidden {
        &__textbox {
            transform: translateY(-90px);
        }
    }
}