.seccion1PsPlus {
    &__fondo {
        background-image: url(../../images/psplus/psplusprincipal.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__titulo {
        padding: 25% 4rem 25% 4rem;
        text-align: center;
        font-size: 4rem;
        color: rgb(255, 255, 255);
        position: relative;
        margin: 0;
    }
}

.subscribe {
    padding: 60px 10% 60px 10%;
    min-height: 100vh;
    max-width: 100%;

    &__heading {
        text-align: center;
        font-size: 40px;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    &__heading--lessMargin {
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
    }

    &__heading--white {
        text-align: center;
        font-size: 40px;
        margin-bottom: 100px;
        margin-top: 90px;
        color: white;
    }

    &__black {
        background-color: black;
        padding: 60px 10% 60px 10%;
        min-height: 100vh;
        max-width: 100%;
    }

    &__grid {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 200px;
    }

    &__price {
        margin-top: 20px;
    }

    &__price--white {
        color: white;
        margin-top: 20px;
        text-align: center;
        font-size: 1.5rem;
    }
}

.beneficios {
    background-color: rgb(223, 223, 223);
    min-height: 100vh;
    width: 100%;
    padding: 50px 10% 50px 10%;
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "ben1 ben2"
            "ben3 ben4"
            "ben5 ben6"
        ;
        row-gap: 10px;
        column-gap: 10px;
        margin: 0% 20% 0% 20%;
    }

    &__text {
        font-size: 25px;
    }
}

.ben1 {
    grid-area: ben1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ben2, .ben2 img {
    grid-area: ben2;

    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-width: 100%;
}

.ben3, .ben3 img {
    grid-area: ben3;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-width: 100%;
}

.ben4, .ben4 p {
    grid-area: ben4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.ben5 {
    grid-area: ben5;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.ben6, .ben6 img {
    grid-area: ben6;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .subscribe {
        padding: 60px 5% 60px 5%;
        min-height: 100vh;
        max-width: 100%;

        &__black {
            background-color: black;
            padding: 40px 5% 100px 5%;
            min-height: 100vh;
            max-width: 100%;
        }

        &__price--white {
            font-size: 1rem;
        }
    }

    .beneficios {
        background-color: rgb(223, 223, 223);
        min-height: 100vh;
        width: 100%;
        padding: 50px 5% 50px 5%;
    }
}

@media screen and (max-width: 425px) {

    .seccion1PsPlus {
        &__fondo {
            background-image: url(../../images/psplus/psplusprincipal.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left;
            min-height: 100vh;
        }
    
        &__titulo {
            padding: 250px 40px 100px 40px;
            font-size: 3rem;
        }
    }

    .subscribe {
        &__heading {
            font-size: 35px;
            margin-top: 40px;
        }

        &__grid {
            flex-direction: column;
            row-gap: 50px;
            align-items: center;
        }

        &__price--white {
            font-size: 1.5rem;
        }

        &__black {
            padding-top: 30px;
        }
    }

    .beneficios {
         padding: 50px 10% 50px 10%;

         &__grid {
             margin-left: 0;
             margin-right: 0;
         }

         &__text {
             font-size: 20px;
         }
    }
}